{
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "max-len": [
      "error",
      120,
      {
        "ignoreStrings": true
      }
    ],
    "no-underscore-dangle": "off"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  }
}
